<header class="header">
    <div clas="header-container">
    <a href="/" width="108" height="50">
        <svg width="108" height="50" class="icon">
            <use href=""></use>
        </svg>
    </a>
    <button type="button">
        <svg width="30px" height = "16px">
            <use href=""></use>
        </svg>
    </button>
    <hero class="hero">
    <h1 class="hero-title">Donut Masterclass <br>with the Donut King</h1>
    <p class="post-title">Hosted by Eva Green</p>
    <a href="" class="register-link">Register</a>
    <ul class="socials-list">
        <li class="social__item">
            <a href="" class="social__link">
            <svg class="social__icon">
            <use href=""></use>
            </svg>
            </a>
        </li>
        <li class="social__item">
            <a href="" class="social__link">
                <svg class="social__icon">
                    <use href=""></use>
                </svg>
            </a>
        </li>

        <li class="social__item">
            <a href="" class="social__link">
                <svg class="social__icon">
                    <use href=""></use>
                </svg>
            </a>
        </li>
    </ul>
    </hero>
    </div>
</header>